<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!--
		<add key="Modules" value="
DevExpress.ExpressApp.v19.2;
DevExpress.ExpressApp.Objects.v19.2;
DevExpress.ExpressApp.Win.v19.2;
DevExpress.ExpressApp.Reports.Win.v19.2;
DevExpress.ExpressApp.Scheduler.Win.v19.2;
DevExpress.ExpressApp.Validation.v19.2;
DevExpress.ExpressApp.Validation.Win.v19.2;
DevExpress.ExpressApp.FileAttachment.Win.v19.2;
DevExpress.ExpressApp.Scheduler.Win.v19.2;
DevExpress.ExpressApp.AuditTrail.v19.2;
DevExpress.ExpressApp.Security.v19.2;
XCRM.Module;
XCRM.Module.Win" />
		-->
		<add key="NewVersionServer" value="" />
		<!--<add key="EnableDiagnosticActions" value="False"/>-->
		<add key="Languages" value="de;es;ja;ru" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="True" />
    <add key="FeedbackDemoName" value="XCRM.Win.CS" />
    <add key="FeedbackDescription" value="This advanced demo was designed to mimic some of the features found in popular CRM applications. It demonstrates use of nearly all XAF modules including TreeListEditors, Dashboards, Pivot Tables and Charts. It also contains custom functionality: numerous Controllers with Actions, dashboard and report definitions for global sales analysis, key performance indicators, and many custom data models/tests for our EasyTest functional testing framework. Entity Framework ORM is used for data access." />
  </appSettings>
	<connectionStrings>
		<add name="SqlExpressConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=.\SQLEXPRESS;Initial Catalog=XCRM_19.2;ConnectRetryCount=0" />
    <add name="SQLiteConnectionString" connectionString="Data Source=XCRM.sqlite" providerName="System.Data.SQLite" />
		<!--CanNotPatchBinConnectionString-->
		<!--
		Use the following connection string to connect to a database on the Microsoft SQLExpress Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=.\SQLEXPRESS;Initial Catalog=XCRM_19.2"/>
		-->
		<!--
		Use the following ConnectionString to connect to a database on the Microsoft SQL Server:
		<add name="ConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=(local);Initial Catalog=XCRM_19.2" />
		-->
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.data>
    <!--
        NOTE: The extra "remove" element below is to prevent the design-time
              support components within EF6 from selecting the legacy ADO.NET
              provider for SQLite (i.e. the one without any EF6 support).  It
              appears to only consider the first ADO.NET provider in the list
              within the resulting "app.config" or "web.config" file.
    -->
    <DbProviderFactories>
      <!--<remove invariant="System.Data.SQLite"/>-->
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite.EF6" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    </DbProviderFactories>
  </system.data>

	<system.diagnostics>
		<switches>
			<!-- Use one of the following predefined values: 0-Off, 1-Errors, 2-Warnings, 3-Info, 4-Verbose. The default value is 3. -->
			<add name="eXpressAppFramework" value="3" />
		</switches>
	</system.diagnostics>
</configuration>
