**/packages/*
**/resourcescache/*
_UpgradeReport_Files
Thumbs.db
.DS_Store
.idea
out
bin
gen
obj
bld
csx
_site
.nuget
*.suo
*.orig
*.rej
*.build.csdef
*proj.user
*.pubxml.user
*.mswwsettings
*.publishproj
*.map
_references.js
_references.d.ts
node_modules
build
.vs
website/_site
shippable
publish
*.scc
*.vspscc

*.log
*.bak
git.*.sh
git.*.cmd
git.*.ps1
&*.sln
SolutionPatcher.exe

obj_netFW
obj.NetCore.Desktop
obj.NetStandard
/.cr
!/Bin
/Bin/AscxPrecompiler/DevExpress.ExpressApp.Web.*.dll 
!/Bin/Framework4
/Bin/Framework4/*
!/Bin/Framework4/Microsoft.Data.*.dll
!/Bin/Framework4/System.Spatial.dll
!/Bin/Framework4/Newtonsoft.Json.dll
/Bin/NETCoreDesktop
/Bin/Standard
/Bin/EF7
/Bin/RequiredDllList.rel
/Bin/RequiredNETCoreDesktopDllList.rel
/Bin/RequiredStandardDllList.rel
Testing/TestCafe/SpaUI/xaf-testcafe-helper/dist/
.cr/
package-lock.json
