<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Charts.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.CodeParser" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Dashboard.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Data" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.DataAccess" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.AuditTrail" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Chart" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Chart.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.CloneObject" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ConditionalAppearance" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Core.All" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Dashboards" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Dashboards.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.EF" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.FileAttachment.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.HtmlPropertyEditor.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Images" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Kpi" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Maps.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Notifications" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Notifications.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Objects" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Office" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Office.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.PivotChart" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.PivotChart.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.PivotGrid" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.PivotGrid.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ReportsV2" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ReportsV2.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Scheduler" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Scheduler.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ScriptRecorder" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ScriptRecorder.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Security" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.StateMachine" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.TreeListEditors" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.TreeListEditors.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Validation" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Validation.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.ViewVariantsModule" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Web.All" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Workflow" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.ExpressApp.Xpo" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Gauges.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Images" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Map.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Office.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Pdf.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Persistent.Base" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Persistent.BaseImpl" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Persistent.BaseImpl.EF" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.PivotGrid.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Printing.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Reporting.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.RichEdit.Export" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Scheduler.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Sparkline.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.SpellChecker.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Spreadsheet.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.TreeMap.Core" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Utils" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Web" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Web.Dashboard" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Web.Dashboard.Common" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Web.Office" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Web.Reporting" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Web.Reporting.Common" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Web.Scheduler" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Web.Themes" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Web.Visualization" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.Gauges" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.Map" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.Navigation" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.Printing" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.TreeList" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Win.TreeMap" version="19.2.3" targetFramework="net452" />
  <package id="DevExpress.Xpo" version="19.2.3" targetFramework="net452" />
</packages>